<section class="add-store">
  <mat-toolbar dir="rtl" color="primary">
    <span>הוספת קיוסק</span>
  </mat-toolbar>
  <app-store-form [store]="newStore" (submitForm)="addStore($event)"></app-store-form>
</section>