<form dir="rtl" fxLayout="column" fxLayoutAlign="center center" class="class-form" [formGroup]="classForm"
  novalidate (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="שם" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="ניקוד לכל מעשה" formControlName="scoreForAct">
  </mat-form-field>
  <button type="submit" color="primary" class="submit-button" mat-raised-button [disabled]="!classForm.valid">שמור</button>
</form>
