<mat-horizontal-stepper dir="rtl" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>מלא פרטים אישיים</ng-template>
      <div>

        <mat-form-field>
          <input matInput placeholder="שם פרטי" formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="שם משפחה" formControlName="lastName">
        </mat-form-field>

        <!-- <img class="student-image" *ngIf="firstFormGroup.value.pictureUrl" [src]="firstFormGroup.value.pictureUrl"> -->
      </div>
      <div>
        <button mat-button matStepperNext>הבא</button>
      </div>
    </form>
  </mat-step>
  <mat-step (ngSubmit)="onSubmit()" [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>העלאת תמונה</ng-template>
      <!-- <mat-form-field> -->
        <!-- <mat-form-field> -->
          <img class="student-image" *ngIf="secondFormGroup.value.pictureUrl" [src]="secondFormGroup.value.pictureUrl">
          <div *ngIf="manager">
            <app-file-upload (downloadUrl)="onDownloadUrl($event)" [storeOrStudent]="storeOrStudent"
              [managerInfo]="this.manager"></app-file-upload>
            <!-- <button type="button" (click)="deleteStudent()" color="warn">מחק</button>
            <button type="submit" color="primary" class="submit-button" [disabled]="!secondFormGroup.valid">שמור</button> -->
          </div>
        <!-- </mat-form-field> -->
      <!-- </mat-form-field> -->
      <div>
        <button mat-button matStepperPrevious>חזור</button>
        <button mat-button matStepperNext>הבא</button>
      </div>
    </form>
  </mat-step>


  <mat-step (ngSubmit)="onSubmit()" [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>הצמד כרטיס</ng-template>
      <mat-form-field>
        <input matInput placeholder="הצמד כרטיס" formControlName="id" type="password">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>חזור</button>
        <button (click)="onSubmit()" mat-button matStepperNext>שמור</button>
      </div>
    </form>
  </mat-step>
  <!-- <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step> -->


</mat-horizontal-stepper>


