.student-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.student-info {
  margin-bottom: 5vh;
}

.student-name {}

.submit-button {
  width: 4vw;
  left: -23vw;
  bottom: -8.5vh;
}

.student-image {
  max-width: 25vw;
  max-height: 25vh;
  margin-right: 4vw;
  margin-top: 4vh;
  border-radius: 33%;
}

.student-form>* {
  /* width: 100%; */
  /* width: 40vw; */
  max-width: 70vw;
  display: flex;
}

img {
  /* width: 30vw; */
  max-width: 15vw;
  max-height: 30vh;
  height: auto;
}

table {
  text-align: right;
  width: 50vw;
  text-align: center;
}

.mat-table {
  display: table;
  width: 100%;
}

[dir=rtl] th.mat-header-cell {
  text-align: inherit;
}

/* .mat-form-field {
  font-size: 14px;
  width: 100%;
} */

/* .mat-row,
.mat-header-row {
  /* min-width: 1123px; */
/* width: 100%; */
/* width: max-content; */
/* } */
