<section class="add-school">
  <mat-toolbar dir="rtl" color="primary">
    <span>הוספת בית ספר חדש</span>
  </mat-toolbar>
  <app-school-form [school]="newSchool" (submitForm)="addSchool($event)"></app-school-form>
  <!-- <app-product-form [product]="newProduct" (submitForm)="addProduct($event)"></app-product-form> -->
</section>