<div *ngIf="this.student.id" class="main-div">
  <div class="score-info">
    <mat-card class="student-card" *ngIf="showStudent" dir="rtl">
      <mat-card-header>
        <img *ngIf="this.student.pictureUrl" mat-card-avatar class="example-header-image" [src]="this.student.pictureUrl">
        <mat-card-title>{{this.student.firstName}} {{this.student.lastName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content dir="rtl">
        <h6>צברת <strong>{{this.student.campaignScores[0].earnedPoints - this.student.campaignScores[0].spandPoints}}</strong> נקודות</h6>
        <p>במבצע {{this.student.campaignScores[0].campaignName}}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="personal-info">
  <mat-tab-group dynamicHeight>
    <mat-tab label="הניקודים האחרונים"> 
      
      <div class="points" >
        <!-- <h6>הניקודים האחרונים:</h6> -->
        <app-score-table [student]="student">
        </app-score-table>
      </div>
    </mat-tab>
    <mat-tab label="ההזמנות האחרונות">
      <div class="orders">
        <h6>ההזמנות האחרונות:</h6>
        <app-order-table [student]="student">
        </app-order-table>
      </div>
    </mat-tab>
    <!-- <mat-tab label="Third"> Content 3 </mat-tab> -->
  </mat-tab-group>
  </div>
  <div class="vertical-line"></div>
  <div class="action-section">
      <button (click)="goToStore()" class="go-to-store-button" mat-raised-button>היכנס לקיוסק</button>
      <button (click)="exitAccount()" class="disconnect-button" mat-raised-button>צא מהחשבון</button>
  </div>
</div>