<form dir="rtl" fxLayout="column" fxLayoutAlign="center center" class="product-form" [formGroup]="productForm"
  novalidate (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="שם מוצר" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="מחיר" formControlName="price">
  </mat-form-field>
  <img [src]="productForm.value.productPicture"><br>

  <!-- productPicture -->
  <div *ngIf="managerInfo">
    <app-file-upload (downloadUrl)="onDownloadUrl($event)" [storeOrStudent]="storeOrStudent" [managerInfo]="managerInfo"></app-file-upload>
    <button type="submit" color="primary" class="submit-button" mat-raised-button
      [disabled]="!productForm.valid">שמור</button>
  </div>
</form>
