<section class="add-student">
  <mat-toolbar dir="rtl" color="primary">
    <span>הוספת תלמיד חדש</span>
  </mat-toolbar>
  <app-student-form [student]="student" [classId]="this.classId" (submitForm)="addStudent($event)"></app-student-form>
</section>