<form dir="rtl" fxLayout="column" fxLayoutAlign="center center" class="school-form" [formGroup]="managerForm" novalidate
  (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="זיהוי מנהל" formControlName="id">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="זיהוי של firebase auth" formControlName="firebaseUid">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="זיהוי בית ספר של firebase" formControlName="schoolId">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="זיהוי של חנות firebase" formControlName="storeId">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="שם פרטי" formControlName="firstName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="שם משפחה" formControlName="lastName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="מספר פלאפון" formControlName="phoneNumber">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="קוד מנהל" formControlName="managerCode">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="מספר הכיתות" formControlName="classCounter">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="מספר התלמידים" formControlName="studentCounter">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="מספר המוצרים" formControlName="productCounter">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="מספר המבצעים" formControlName="campaignCounter">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="email" placeholder="חשבון האימייל" formControlName="email">
  </mat-form-field>
  <button type="submit" color="primary" class="submit-button" mat-raised-button
    [disabled]="!managerForm.valid">שמור</button>
</form>
