<app-loader-spinner *ngIf="showSpinner"></app-loader-spinner>


<div dir="rtl" *ngIf="school">

  <div *ngIf="manager" class="container header">
    <h2>שלום {{manager.firstName}} {{manager.lastName}}</h2>
    <button mat-raised-button color="primary" (click)="openBestStudentsTable()">טבלת תלמידים מובילים</button>
    <!-- <button mat-raised-button color="primary" (click)="openAddCampaignModal()">הוסף מבצע</button> -->
  </div>

  <div class="general-class">
    <h3>כיתות</h3>
    <app-loader-spinner *ngIf="showClassesSpinner"></app-loader-spinner>
    <div class="class-list" *ngIf="allClasses?.length">
      <mat-action-list>
        <mat-list-item *ngFor="let class of allClasses">
          <button mat-list-item (contextmenu)="openClassModalToEdit(class)" (click)="getClassInfo(class)">
            {{class.name}}
          </button>
        </mat-list-item>
      </mat-action-list>
    </div>
    <button class="add-class" (click)="openAddClassModal()" mat-button>
      הוסף כיתה
    </button>
  </div>

  <div class="general-student">
    <app-loader-spinner *ngIf="showStudentsSpinner"></app-loader-spinner>
    
    <div class="student-list" *ngIf="studentOfTheClass?.length || selectedClass">
      <h3>תלמידים</h3>
      <mat-action-list>
        <mat-list-item *ngFor="let student of studentOfTheClass">
          <button (click)="openStudentModalToEdit(student.id)" mat-list-item> {{student.name}}
          </button>
        </mat-list-item>
      </mat-action-list>
      <button class="add-student" (click)="openAddStudentModal()" mat-button>
        הוסף תלמיד
      </button>
    </div>
  </div>
</div>
