/* @media (min-width:320px)  { smartphones, iPhone, portrait 480x320 phones } */
@media only screen and (min-width: 320px) and (max-width: 960px) {
  .general-class {
    height: 10vh;
    width: 70vw;
    position: absolute;
    text-align: right;
    top: 14vh;
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .general-student {
    top: 50vh;
    height: 60vh;
    width: 70vw;
    text-align: right;
    position: absolute;
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* z-index: 1; */
    /* overflow-x: hidden;
    overflow-y: auto; */
    /* left: 0; */
  }
}

/* @media (min-width:641px)  { portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones } */
@media (min-width:961px) {
  .general-class {
    height: 60vh;
    width: 50vw;
    z-index: 1;
    text-align: right;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    right: 0;
  }
  .general-student {
    height: 60vh;
    width: 50vw;
    z-index: 1;
    text-align: right;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0;
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  h3 {
    text-align: center;
  }
  .header {
    height: 100%;
    width: 100%;
    text-align: center;
    font: 0/0 a;
  }
  .example-card {
    max-width: 20vw;
  }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .add-class,
  .add-student {
    background-color: rgb(199, 195, 195);
  }
}