<section class="update-class">
  <mat-toolbar dir="rtl" color="primary">
    <span>עידכון כיתה קיימת</span>
  </mat-toolbar>
  <app-class-form [class]="classToUpdate" (submitForm)="updateClass($event)"></app-class-form>
  <button type="submit" (click)="deleteClass()" color="warn" mat-raised-button>מחק</button>
</section>
