<div class="general-class" dir="rtl">
    <h3 style="text-align: center;">בתי ספר</h3>
    <!-- <app-loader-spinner *ngIf="showClassesSpinner"></app-loader-spinner> -->
    <div class="school-list" *ngIf="allSchools?.length">
      <mat-action-list>
        <mat-list-item *ngFor="let school of allSchools">
          <button mat-list-item (contextmenu)="openSchoolModalToEdit(school)" (click)="chooseSchoolModal(school)">
            {{school.name}} - {{school.city}}
          </button>
        </mat-list-item>
      </mat-action-list>
    </div>

    <h3 style="text-align: center;">מנהלים</h3>
    <div class="managers-list" *ngIf="allTheManagers?.length">
      <mat-action-list>
        <mat-list-item *ngFor="let manager of allTheManagers">
          <button mat-list-item (contextmenu)="openManagerModalToEdit(manager)">
            {{manager.firstName}} - {{manager.lastName}}
          </button>
        </mat-list-item>
      </mat-action-list>
    </div>


    <button class="add-store" (click)="openAddStoreModal()" mat-button>
      הוסף חנות
    </button>
    <button class="add-school" (click)="openAddSchoolModal()" mat-button>
      הוסף בית ספר
    </button>
    <button class="add-manager" (click)="openAddManagerModal()" mat-button>
      הוסף מנהל
    </button>
    <button class="add-manager" (click)="fixAllStudents()" mat-button>
      kakiiiii
    </button>
  </div>
  <!-- (contextmenu)="openClassModalToEdit(class)" (click)="getClassInfo(class)" -->
