.mat-paginator-container {
  display: flex;
  align-items: center;
  justify-content: inherit;
  min-height: 56px;
  padding: 0 8px;
  flex-wrap: wrap-reverse;
  width: 100%;
}

.score-table {
  text-align: center;
  width: 46vw;
}

tr.mat-footer-row,
tr.mat-row {
  height: 4vh;
}

table {
  border: 1px solid black;
}

tr.mat-header-row {
  height: 4vh;
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0px;
  padding-left: 2vw;
  border-bottom-width: 1px;
  padding-right: 0;
  border-bottom-style: solid;
}

td,
th {
  width: 33.3%;
  text-align: start;
  font-size: 2vh;
}

.score-score {
  padding-right: 1vw;
  font-size: large;
}