<!-- <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="חפש....">
</mat-form-field>
 class="mat-elevation-z8"
 -->

<div dir="rtl">
  <table class="score-table" mat-table [dataSource]="dataSource" matSort>

    <ng-container class="score-date" matColumnDef="scoreDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> תאריך </th>
      <td mat-cell *matCellDef="let score"> {{score.scoreDate | date: 'short'}} </td>
    </ng-container>

    <ng-container  matColumnDef="scoreAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ניקוד </th>
      <td mat-cell class="score-score" *matCellDef="let score"> {{score.scoreAmount}} </td>
    </ng-container>

    <ng-container class="score-details" matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> פרטים </th>
      <td mat-cell *matCellDef="let score"> {{score.details}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let score; columns: displayedColumns;">
    </tr>
  </table>

  <!-- <mat-paginator class="mat-paginator-container" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
</div>
