<form dir="rtl" fxLayout="column" fxLayoutAlign="center center" class="school-form" [formGroup]="storeForm" novalidate
  (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="זיהוי קיוסק" formControlName="id">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="שם הקיוסק" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" placeholder="כמות המוצרים" formControlName="amountOfProducts">
  </mat-form-field>
  <button type="submit" color="primary" class="submit-button" mat-raised-button
    [disabled]="!storeForm.valid">שמור</button>
</form>
