.home-page {
  height: 100vh;
  width: 100vw;
}

.home {
  /* background-color: coral; */
  /* margin: 50vh; */
  width: calc(100% - 60px);
  max-height: calc(100% - 60px);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boris {
  pointer-events: none;
}

.input-line {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* input{
    margin: -5vh;
    padding: 2vh 20vh;
    font-size: 6vh
} */
.swipe-card {
  position: absolute;
  padding: 6vh 30vh;
}

.manager-login {
  background-image: url(./../../../images/login.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.alert {
  width: 85%;
  /* margin-left: 7vw; */
  margin-right: 7vw;
  text-align: center;
}

.input-gif {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;
  margin-bottom: 0;
}

.input-temp {
  /* height: 5vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;
  margin-bottom: 0;
  /* width: 30vw;
    margin-left: 30vw;
    font-size: 4vh; */
}

img {
  height: 50vh;
}

.hidden-input {
  display: none;
}
