<div class="boris">

  <div dir="rtl" class="alert alert-secondary">
    זוהי מערכת ממוחשבת לקניית פרסים לתלמידים בהתאם למוסד החינוך
  </div>
  <!-- <div class="home">
    <h2 class="swipe-card">העבר כרטיס או הכנס מספר תלמיד</h2>
    <input type="password" (keydown.enter)="getStudentById()" (input)="studentId = $event.target.value" autofocus
      onfocus="this.value=''">
  </div> -->
  <div class="input-temp">

    <img src="../../../assets/logoGifSmaller.gif" />
    <!-- (ngModelChange)="displayName()" [(ngModel)]="name" -->
    <!-- <input class="input-line" (ngModelChange)="displayName()" #tempStudentId matInput autofocus> -->
    <!-- <input class="input-line" type="text" #tempStudentId (keydown.enter)="getStudentById()"
      autofocus onfocus="this.value=''"> -->
    <!-- <input class="input-line" (keydown.enter)="getStudentById()" [(ngModel)]="tempStudentId" autofocus> -->
    <!-- <input type="hidden" class="input-line" (ngModelChange)="displayName()" [(ngModel)]="tempStudentId" autofocus> -->
    <app-loader-spinner *ngIf="showSpinner"></app-loader-spinner>
  </div>
  <input class="input-line" type="password" #tempStudentId type="password" (keydown.enter)="getStudentById()"
    (input)="studentId = $event.target.value" autofocus onfocus="this.value=''">
<!-- <input onfocus="this.value=''" #tempStudentId> -->
  <!-- class="hidden-input" -->
</div>
