<section class="update-store">
  <mat-toolbar dir="rtl" color="primary">
    <span>עידכון מנהל קיים</span>
  </mat-toolbar>
  <app-store-form [store]="storeToUpdate" (submitForm)="updateStore($event)"></app-store-form>
  <button type="submit" (click)="deleteStore()" color="warn" mat-raised-button>מחק</button>
</section>
