<form dir="rtl" fxLayout="column" fxLayoutAlign="center center" class="campaign-form" [formGroup]="campaignForm"
  novalidate (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="שם מבצע" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="תיאור המבצע" formControlName="description">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="date" placeholder="תאריך סיום" formControlName="expirationDate">
  </mat-form-field>
  <button type="submit" color="primary" class="submit-button" mat-raised-button [disabled]="!campaignForm.valid">שמור</button>
</form>
