<section class="update-school">
  <mat-toolbar dir="rtl" color="primary">
    <span>עידכון כיתה קיימת</span>
  </mat-toolbar>
  <app-school-form [school]="schoolToUpdate" (submitForm)="updateSchool($event)"></app-school-form>
  <button type="submit" (click)="deleteSchool()" color="warn" mat-raised-button>מחק</button>
</section>
