<!-- <p>{{this.infoForBuying.amountMissing}}</p> -->
<div>
    <mat-dialog-content dir="rtl" class="error-modal" class="mat-typography">
      <mat-error>
        <h1>
          <strong>חסרים לך נקודות</strong>
        </h1>
        <h4>
            חסרים לך {{this.infoForBuying.amountMissing}} נקודות על מנת להשלים את הקנייה
        </h4>
      </mat-error>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>סגור חלון</button>
    </mat-dialog-actions>
  </div>
  
