<section class="update-student">
  <mat-toolbar dir="rtl" color="primary">
    <span>עידכון תלמיד קיים</span>
  </mat-toolbar>
  <app-student-form [student]="studentToUpdate" (submitForm)="updateStudent($event)"></app-student-form>
</section>
