<section class="add-campaign">
  <mat-toolbar dir="rtl" color="primary">
    <span>הוספת מבצע חדש</span>
  </mat-toolbar>
  <app-campaign-form [campaign]="newCampaign" (submitForm)="addCampaign($event)"></app-campaign-form>
</section>
