<!-- <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="חפש....">
</mat-form-field> -->

<div dir="rtl" >
  <table class="order-table" mat-table [dataSource]="dataSource" matSort>

    <ng-container class="order-date" matColumnDef="complete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> האם הושלם </th>
      <td mat-cell *matCellDef="let order"> {{order.complete}} </td>
    </ng-container>

    <ng-container class="order-order" matColumnDef="productPicUrl">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> תמונה </th>
      <td mat-cell *matCellDef="let order"> <img class="small-pic" [src]="order.orderPicUrl" /></td>
    </ng-container>

    <ng-container class="order-details" matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> פרטים </th>
      <td mat-cell *matCellDef="let order"> {{order.details}} </td>
    </ng-container>

    <ng-container class="order-order" matColumnDef="purchasePrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> מחיר </th>
      <td mat-cell *matCellDef="let order"> {{order.purchasePrice}} </td>
    </ng-container>

    <ng-container class="order-details" matColumnDef="purchaseDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> תאריך הקנייה </th>
      <td mat-cell *matCellDef="let order"> {{order.purchaseDate | date: 'short'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let order; columns: displayedColumns;">
    </tr>
  </table>
</div>
