<mat-sidenav-container dir="rtl" class="sidenav-container">
  <!-- <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: (isHandset$ | async) === false}" fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    [attr.role]="isUserConnected ? 'dialog' : 'navigation'" mode="push" 
  [opened]="isUserConnected === false"-->
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: isUserConnected === false}" fixedInViewport="false"
    [attr.role]="isUserConnected ? 'dialog' : 'navigation'">
    <mat-toolbar>תפריט</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.toggle()" [routerLink]="['/manager_info']">עבור לדף מנהל</a>
      <a mat-list-item (click)="drawer.toggle()" [routerLink]="['/manage_store']">נהל חנות</a>
      <a mat-list-item (click)="drawer.toggle()" [routerLink]="['/distribution_list']">רשימת חלוקה</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="main-nav">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isUserConnected">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a [routerLink]="['/']"><span class="navbar-title">מטהרים את האוויר</span></a>
      <span class="spacer"></span>
      <button (click)="connectOrDisconnect()" class="manager-button" mat-raised-button>{{managerButtonText}}</button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet class="container"></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
