.sidenav-container {
  /* height: 100%; */
  max-height: 100vh;
}


.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

.sidenav .mat-toolbar {
  /* background: inherit; */
}

.main-nav {
  background-color: rgb(6,40,153);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
/* @media (min-width: 768px) { */
.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar button {
  display: inline-block;
  margin: 0 1vw;
  color: white;
  background-color: rgb(53, 207, 53);
  text-decoration: none;
}

.manager-button {
  font-size: 2.5vh;
}

.navbar-title {
  font-size: 4.5vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  
}

.navbar-title img {
  width: 9vw;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 12vh;
}

.container {
  max-height: 88vh;
}


/* } */
