<section class="add-class">
  <mat-toolbar dir="rtl" color="primary">
    <span>הוספת כיתה חדשה</span>
  </mat-toolbar>
  <app-class-form [class]="newClass" (submitForm)="addClass($event)"></app-class-form>
  <!-- <app-product-form [product]="newProduct" (submitForm)="addProduct($event)"></app-product-form> -->
</section>
