<div class="home">
  <h2 class="swipe-card">הצמד כרטיס לאישור</h2>
  <input (keydown.enter)="getStudentById()" (input)="studentId=$event.target.value" onfocus="this.value=''" autofocus  type="password">
   <!-- onfocus="this.value=''"  type="password" -->
</div>
