.full-card {
  width: 17vw;
  float: left;
  margin-left: 2vw;
  margin-bottom: 5vh;
}

.products {
  overflow-y: scroll;
  height: 85vh;
}


.products::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.products::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.products::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(41, 145, 214);
}

.header {
  border-block-end: 1px solid black;
}

.price {
  text-align: center;
  margin-top: 1vh;
  width: 50%;
  position: absolute;
  right: 0;
}

.buy-it-now-button {
  width: 50%;
  background-color: green;
}

.title {
  font-size: 3vh;
  text-align: center;
}

mat-card-content {
  text-align: center;
}

mat-card-content img {
  width: 15vw;
  height: 15vh;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  vertical-align: middle;
  margin-top: 3vh;
}

mat-card-footer {
  border-block-start: 1px solid black;
}

.delete-product {
  background-color: red;
}

.add-product {
  background-color: yellow;
  position: absolute;
  top: 12vh;
  right: 0;
}
