<app-loader-spinner *ngIf="showSpinner"></app-loader-spinner>
<div class="products">
  <mat-card *ngFor="let product of products" class="full-card">
    <mat-card-header class="header">
      <mat-card-title class="title">{{product.name}}</mat-card-title>
      <button class="delete-product" (click)="deleteProduct(product)" mat-fab>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image src={{product.productPicture}} alt={{product.name}}>
    </mat-card-content>
    <mat-card-footer>
      <div>
        <p class="price">{{product.price}} נקודות</p>
        <button class="buy-it-now-button" mat-button>קנה עכשיו!</button>
      </div>
    </mat-card-footer>

  </mat-card>
</div>
<!-- <button class="add-product" (click)="openAddProductModal()" mat-fab> -->
<button class="add-product" (click)="openAddProductModal()" mat-button>
  <mat-icon>add</mat-icon>הוסף מוצר
</button>
<!-- <mat-icon>add</mat-icon> -->
<!-- </button> -->
