<div dir="rtl">
  <mat-dialog-content dir="rtl" class="error-modal" class="mat-typography">
    <mat-error>
      <h1>
        <strong>שגיאה!</strong>
        כנראה שהתבלבלת עם מישהו אחר בכרטיס?
      </h1>
    </mat-error>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>סגור חלון</button>
  </mat-dialog-actions>
</div>
