<app-loader-spinner *ngIf="showSpinner"></app-loader-spinner>
<h1 dir="rtl" class="header">התחבר לחשבון המנהל שלך</h1>
<div class="container">
  <div class="row">
    <!-- <div class="col-md-6 col-md-offset-3"> -->
    <div class="login-form">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label class="title">כתובת מייל</label>
          <input type="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
          <label class="title">סיסמה</label>
          <input type="password" class="form-control" formControlName="password">
          <label class="error">{{errorMessage}}</label>
        </div>
        <div class="form-login">
          <button type="submit" (click)="tryLogin(loginForm.value.email, loginForm.value.password)"
            class="btn btn-primary">התחבר</button>
          <p>אין לך עדיין חשבון? <a routerLink="/register">צור חשבון</a></p>
        </div>
      </form>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-primary btn-block" (click)="tryFacebookLogin()">Login with Facebook</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Login with Google</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button type="button" class="btn btn-info btn-block" (click)="tryTwitterLogin()">Login with Twitter</button>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p>אין לך עדיין חשבון? <a href="/register">צור חשבון</a></p>
    </div>
  </div> -->
</div>
