<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="חפש....">
</mat-form-field>

<div class="table" scrollable (scrollPosition)="scrollHandler($event)" dir="rtl">
  <table class="score-table" mat-table matSort [dataSource]="dataSource">
    <ng-container class="score-date" matColumnDef="scoreDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> תאריך </th>
      <td mat-cell *matCellDef="let score"> {{score.scoreDate | date: 'short'}} </td>
    </ng-container>

    <ng-container class="score-score" matColumnDef="scoreAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ניקוד </th>
      <td mat-cell *matCellDef="let score"> {{score.scoreAmount}} </td>
    </ng-container>

    <ng-container class="score-details" matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> פרטים </th>
      <td mat-cell *matCellDef="let score"> {{score.details}} </td>
    </ng-container>

    <ng-container class="score-actions" matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> פעולות </mat-header-cell>
      <mat-cell *matCellDef="let score">
        <button mat-button (click)="deleteScore(score)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

</div>
