<section class="add-score">
  <mat-toolbar dir="rtl" color="primary">
    <span>הוספת ניקוד במבצע {{this.studentAndCampaign.campaignName}}</span>
  </mat-toolbar>
  <app-score-form [passedStudentAndCampaign]="studentAndCampaign" [score]="newScore" (submitForm)="addScore($event)"></app-score-form>
  <!-- <app-product-form [product]="newProduct" (submitForm)="addProduct($event)"></app-product-form> -->
</section>