<form dir="rtl" fxLayout="column" fxLayoutAlign="center center" class="school-form" [formGroup]="schoolForm"
  novalidate (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="זיהוי בית ספר" formControlName="id">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="שם בית ספר" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="עיר" formControlName="city">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="מספר זיהוי של מנהל" formControlName="writingPermission">
  </mat-form-field>
  <button type="submit" color="primary" class="submit-button" mat-raised-button [disabled]="!schoolForm.valid">שמור</button>
</form>
