<div class="confirm-msg" dir="rtl">
  <h6>קנייתך בוצעה בהצלחה.</h6>
  <p>נותרו לך <strong> {{this.infoForBuying.amountAfter}} </strong>נקודות. <br> פנה למנהל לקבלת המתנה.</p>
  <p>החלוקה מתבצעת ביום שישי.</p>
</div>
