<mat-dialog-content dir="rtl" class="error-modal" class="mat-typography">
  <mat-error>
    <h1>לא קיים משתמש כזה במערכת
      <strong>נסה שוב.</strong>
    </h1>
  </mat-error>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>סגור חלון</button>
</mat-dialog-actions>
