<app-loader-spinner *ngIf="showSpinner"></app-loader-spinner>
<div class="main-store" *ngIf="this.student.id && products">
    <button class="go-back" mat-button [routerLink]="['/personal_area']">
        <mat-icon>arrow_back</mat-icon>חזור לדף האישי
    </button>

    
  <div class="score-info">
    <mat-card class="student-card" dir="rtl">
      <mat-card-header>
        <img *ngIf="this.student.pictureUrl" mat-card-avatar class="example-header-image" [src]="this.student.pictureUrl">
        <mat-card-title>{{this.student.firstName}} {{this.student.lastName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content dir="rtl">
        <h6>צברת
          <strong>{{this.student.campaignScores[0].earnedPoints - this.student.campaignScores[0].spandPoints}}</strong>
          נקודות</h6>
        <p>במבצע {{this.student.campaignScores[0].campaignName}}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="products">
    <mat-card *ngFor="let product of products" class="full-card">
      <mat-card-header class="header">
        <mat-card-title class="title">{{product.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img mat-card-image src={{product.productPicture}} alt={{product.name}}>
      </mat-card-content>
      <mat-card-footer>
        <div>
          <p class="price">{{product.price}} נקודות</p>
          <button class="buy-it-now-button" (click)="tryToBuy(product)" mat-button>קנה עכשיו!</button>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>