.main-store {
  position: relative;
  z-index: -999;
}

.go-back {
background-color: rgb(168, 172, 185);
position: absolute;
left: 2vw;
}

.full-card {
  width: 17vw;
  max-height: 50vh;
  float: left;
  margin-left: 2vw;
  margin-bottom: 5vh;
}

.student-card {
  top: 0;
  width: 30vw;
  height: 25vh;
  position: absolute;
  left: 35vw;
} 

/* .products {
  position: absolute;
  top: 30vh;
  margin-right: 4vw;
} */


.products {
  /* overflow-x: hidden;
  overflow-y: scroll;
  z-index: 1; */
  position: absolute;
  margin-right: 4vw;
  top: 30vh;
  overflow-y: scroll;
  height: 50vh;
}


.products::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.products::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.products::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(41, 145, 214);
}


.header {
  border-block-end: 1px solid black;
}

.price {
  text-align: center;
  margin-top: 1vh;
  width: 50%;
  position: absolute;
  right: 0;
}

.buy-it-now-button {
  width: 50%;
  background-color: green;
}

.title {
  font-size: 3vh;
  text-align: center;
}

mat-card-content {
  text-align: center;
}

mat-card-content img {
  width: 15vw;
  height: 15vh;
  object-fit: scale-down;
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  vertical-align: middle;
  margin-top: 3vh;
}

mat-card-footer {
  border-block-start: 1px solid black;
}
