<app-loader-spinner *ngIf="showSpinner"></app-loader-spinner>
<div class="distribution-list" *ngIf="this.classesWithStudents" dir="rtl">
  <h6>רשימת הזמנות שלא הושלמה</h6>
  <!-- <p *ngFor="let order of unfinishedOrders">{{ order | json }}</p> -->
  <div *ngFor="let classOrders of this.classesWithStudents">
    <h6>{{classOrders.className}}</h6>
    <div class="order-row" *ngFor="let order of classOrders.orders">
      <p>{{order.studentName}} - {{order.details}}</p>
      <button (click)="snakebarConfirm(order, classOrders.className)" mat-button>
        <mat-icon>done_outline</mat-icon> 
      </button>
    </div>
  </div>
</div>
