<mat-dialog-content dir="rtl" class="error-modal" class="mat-typography">
  <mat-error>
    <h1>
      בחר תלמיד מרשימת התלמידים קודם
    </h1>
    <h3>
      <strong>הנך מועבר לדף מנהל</strong>
    </h3>
  </mat-error>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>סגור חלון</button>
</mat-dialog-actions>
