.mat-paginator-container {
    display: flex;
    align-items: center;
    justify-content: inherit;
    min-height: 56px;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
  }
  
  .score-date {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 40vw !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  
  .score-table {
    text-align: center;
    width: 45vw;
    height: 10vh;
  
  }
  
  .table {
    overflow-y: scroll;
    /* height: 30vh; */
    max-height: 37vh;
  }
  
  tr.mat-footer-row,
  tr.mat-row {
    height: 4vh;
  }
  
  table {
    border: 1px solid black;
  }
  
  tr.mat-header-row {
    height: 4vh;
  }
  
  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    padding: 0px;
    padding-left: 2vw;
    border-bottom-width: 1px;
    padding-right: 0;
    border-bottom-style: solid;
  }
  
  td,
  th {
    width: 33.3%;
    text-align: start;
    font-size: 2vh;
  }
  
  .score-score {
    padding-right: 1vw;
  }
  
  
  /* .score-date {
      width: 30%;
      text-align: center;
    
    }
    
    
    .score-details {
      text-align: center;
      width: 50%;
    } */
  
  
  /* [dir=rtl] tr.th.mat-header-cell {
      text-align: inherit;
    } */
  