<!-- (scrollPosition)="scrollHandler($event)"  -->
<div class="table" scrollable dir="rtl">
  <table class="score-table" mat-table matSort [dataSource]="dataSource">

    <ng-container class="score-date" matColumnDef="className">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> כיתה </th>
      <td mat-cell *matCellDef="let student"> {{student.classId }} </td>
    </ng-container>

    <ng-container class="score-date" matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> שם פרטי </th>
      <td mat-cell *matCellDef="let student"> {{student.firstName}} </td>
    </ng-container>

    <ng-container class="score-score" matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> שם משפחה </th>
      <td mat-cell *matCellDef="let student"> {{student.lastName}} </td>
    </ng-container>

    <ng-container class="score-details" matColumnDef="earnedPoints">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> נקודות </th>
      <td mat-cell *matCellDef="let student"> {{student.campaignScores[0].earnedPoints}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

</div>
