<section class="add-product">
    <mat-toolbar dir="rtl" color="primary">
      <span>הוספת מוצר חדש</span>
    </mat-toolbar>
    <app-product-form [product]="product" [managerInfo]="managerInfo" (submitForm)="addProduct($event)"></app-product-form>
  </section>