<section class="update-manager">
  <mat-toolbar dir="rtl" color="primary">
    <span>עידכון מנהל קיים</span>
  </mat-toolbar>
  <app-manager-form [manager]="managerToUpdate" (submitForm)="updateManager($event)"></app-manager-form>
  <button type="submit" (click)="deleteManager()" color="warn" mat-raised-button>מחק</button>
</section>
