<div *ngIf="this.showStudent && this.student.id" class="main-div">
  <div class="score-info">
    <mat-card class="student-card" *ngIf="showStudent" dir="rtl">

      <button class="edit-student-button" (click)="openEditStudentModal()" mat-button>
          <mat-icon>edit</mat-icon>עדכן פרטי סטודנט
      </button>

      <mat-card-header>
        <img mat-card-avatar class="example-header-image" [src]="this.student.pictureUrl">
        <mat-card-title>{{this.student.firstName}} {{this.student.lastName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content dir="rtl">
        <p>הרוויח
          <strong>{{this.student.campaignScores[0].earnedPoints}}</strong>
        </p>
        <p>בזבז
          <strong>{{this.student.campaignScores[0].spandPoints}}</strong>
        </p>
        <p>צבר סה"כ
          <strong>{{this.student.campaignScores[0].earnedPoints - this.student.campaignScores[0].spandPoints}}</strong>
        </p>
        <!-- <p>במבצע {{this.student.campaignScores[0].campaignName}}</p> -->
      </mat-card-content>
    </mat-card>
  </div>
  <div class="personal-info">
    <div class="points">
      <h6>הניקודים האחרונים:</h6>
      <app-manager-score-table></app-manager-score-table>
      <button class="add-score" (click)="openAddScoreModal()" mat-button>
        <mat-icon>add</mat-icon>הוסף ניקוד
      </button>
    </div>
  </div>
  <div class="orders">
    <h6>ההזמנות האחרונות:</h6>
    <app-manager-order-table></app-manager-order-table>
  </div>
  <div class="vertical-line"></div>

  <button class="delete-student" (click)="deleteStudent()" mat-button>
    <mat-icon>delete</mat-icon>מחק תלמיד
  </button>


  <!-- <button class="delete-student" (click)="deleteStudent()" mat-button>
    <mat-icon>delete</mat-icon>הוסף מוצר
  </button> -->
  <!-- <div class="action-section">
    <button (click)="goToStore()" class="go-to-store-button" mat-raised-button>היכנס לקיוסק</button>
    <button (click)="exitAccount()" class="disconnect-button" mat-raised-button>צא מהחשבון</button>
  </div> -->
</div>
