.student-info {
  text-align: center;
}

.student-card {
  /* text-align: right; */
  top: 12vh;
  width: 30vw;
  height: 21vh;
  position: absolute;
  left: 35vw;
}

.error-modal {
  height: 10vh;
  width: 10vw;
}

.example-header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-size: cover;
  /* max-width: 1vw;
    max-height: 1vh */
}

.student-name {
  font-size: 2em;
}

#left-menu {
  position: relative;
  width: 24vw;
  float: left;
  max-height: 100vh
}

#top-text {
  position: relative;
  text-align: center;
  background-color: #637777;
  font-size: 2em;
  color: white;
  height: 10vh;
  line-height: 10vh;
  border-bottom: 0.2em solid white;
}

#scores {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 90vh;
  width: 100%;
  background-color: lightgrey;
  padding: 1%;
}

.score {
  align-items: center;
}

#score-container {
  height: 27vh;
  width: 20vw;
  border-radius: 1em;
  border: 0.2em solid white;
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  margin-top: 7%;
}

/* .example-card {
      text-align: right;
  } */

.text {
  text-align: center;
  position: relative;
}

#top {
  height: 30%;
  width: 100%;
  background-color: #d8eae0;
  font-size: 2em;
  color: #637777;
  padding-top: 4vh;
}

#bottom {
  height: 70%;
  width: 100%;
  background-color: #637777;
  font-size: 4em;
  color: white;
  padding-top: 5.5vh;
}

.mat-card-avatar {
  height: 7vh;
  /* width: 40px; */
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.mat-card>:first-child {
  margin-top: -1.7vh;
}

.personal-info {
  height: 100vh;
  width: 46vw;
  position: absolute;
  right: 0;
}

.action-section {
  height: 100vh;
  width: 46vw;
  position: absolute;
  left: 0;
}

/* .vertical-line {
    position: absolute;
    left: 1vw;
    top: 26vh;
  } */

.points {
  position: absolute;
  left: -1vw;
  top: 3vh;
  text-align: center;
}

p {
  margin-bottom: 0;
}

.orders {
  position: absolute;
  left: 1vw;
  top: 19vh;
  text-align: center;
}

.delete-student {
  position: absolute;
  right: 0;
  top: 13vh;
}

.edit-student-button {
  margin-top: -1.7vh;
  position: absolute;
  left: 0;
}

.add-score {
/* position: absolute;
right: 20vw;
top: 40vh; */
}

.vertical-line {
  border-left: 0.08vw solid rgb(167, 167, 167);
  height: 66vh;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 33vh;
}

.main-div {
  height: 80vh;
  overflow: hidden;
}

.action-section button {
  /* border-radius: 50vh; */
  font-size: 6vh;

  padding-bottom: 2vh;
  padding-top: 2vh;
  display: inline-block;
  color: white;
  text-decoration: none;
  max-width: 20vw;
  /* width: 20vw; */
  /* max-width: 15vw;
    max-height: 5vh; */
  position: absolute;
  left: 15vw;
}

.go-to-store-button {
  background-color: #35cf35;
  top: 30vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.disconnect-button {
  background-color: rgb(241, 31, 31);
  top: 50vh;
  padding-left: 2.225vw;
  padding-right: 2.225vw;
}

mat-card-content {
  text-align: center;
}

/* .score-info {
  
    display: inline-block;
    margin: 0 1vw;
    color: white;
    background-color: rgb(53, 207, 53);
    text-decoration: none;
  
    height: 28vh;
  } */
