<form dir="rtl" fxLayout="column" fxLayoutAlign="center center" class="add-score-form" [formGroup]="scoreForm"
  novalidate (ngSubmit)="onSubmit()">

  <mat-form-field>
    <input matInput type="number" placeholder="כמות ניקוד להוספה" formControlName="scoreAmount">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="הערות" formControlName="details">
  </mat-form-field>

  <!-- <mat-checkbox>האם הושלם</mat-checkbox> -->

  <button type="submit" color="primary" class="submit-button" mat-raised-button
    [disabled]="!scoreForm.valid">שמור</button>
</form>
