<section class="add-manager">
  <mat-toolbar dir="rtl" color="primary">
    <span>הוספת מנהל</span>
  </mat-toolbar>
  <app-manager-form [manager]="newManager" (submitForm)="addManager($event)"></app-manager-form>
</section>